// @import "font.scss";
@import "variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  &::after,
  &::before {
    box-sizing: inherit;
  }
}
body {
  font-family: $main-font-stack;
  font-size: $main-text-size;
  line-height: $main-text-height;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  .visually-hidden {
    position: absolute;
    width: rem(1px);
    height: rem(1px);
    margin: rem(-1px);
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 rem(20px);
  width: rem(374px);
}
@media (min-width: $tablet) {
  .container {
    width: rem(600px);
    padding: 0;
  }
}
@media (min-width: $desktop) {
  .container {
    width: rem(1076px);
    padding: 0;
  }
}
