@use "sass:math";

$main-font-stack: "Arimo", "Arial", sans-serif;
$main-text-size: 16px;
$main-text-height: 21px;
$main-text-color: #21325e;
$secondary-text-color: #b1b1b1;
$main-filter-color: rgba(33, 50, 94, 0.8);
$main-head-mob-color: #797979;
$main-head-des-color: #f5f5f5;

$primary-accent-color: #009c41;
$secondary-accent-color: #ff7728;
$primary-white-color: #fff;

$secondary-btn-color: #c4c4c4;

$tablet: 768px;
$desktop: 1330px;

@function rem($pixels, $context: $main-text-size) {
  @return #{math.div($pixels, $context)}rem;
}
